@import "./colors";

html {
  height: 100%;
}

body {
  background: $space;
  margin: 0;
}

.container {
  width: 1080px;
  margin: 0 auto;

  @media only screen and (max-device-width: 425px) {
    width: 425px;
  }
}
