@import "./colors";

html {
  height: 100%;
}

body {
  background: $space;
  margin: 0;

  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.container {
  box-sizing: border-box;
  padding: 10px;
  
  @media only screen and (max-width: 320px) {
    border: 1px solid green;
  }

  @media only screen and (max-width: 375px) {
    border: 1px solid red
    // width: 375px;

    // box-sizing: border-box;
    // padding: 10px;
  }
}
