@import "./colors";

html {
  height: 100%;
}

body {
  background: $space;
  margin: 0;

  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.container {
  @media only screen and (max-width: 320px) {
    width: 320px;
    
    box-sizing: border-box;
    padding: 10px;
  }

  @media only screen and (max-width: 375px) {
    width: 375px;

    box-sizing: border-box;
    padding: 10px;
  }
}
