@import 'src/styles/colors';

.test-1 {
  background: $space;
  width: 25%;
  height: 20px;
}

.test-2 {
  background: $cold;
  width: 25%;
  height: 20px;
}

.test-3 {
  background: $grey;
  width: 25%;
  height: 20px;
}

.test-4 {
  background: $red;
  width: 25%;
  height: 20px;
}