@import "src/styles/colors";
@import "src/styles/fonts";

.header {
  &__h1 {
    font: 80px $CevicheOne, cursive;
    color: $red;
    text-align: center;

    @media only screen and (max-width: 375px) {
      margin-top: 10px;
    }
  }
}
